#header
{
    height: 8rem;   
}

#heading
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42;
}

.hobby
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;

    border-color: rgb(160, 41, 184);
    border-width: 0px;
    border-style: solid;
    
    padding: 50px;
    <!background: rgb(209, 209, 209);>
}

.allMenus
{
    display: none;
    border-bottom: 1px solid rgb(156, 184, 0);

    position: absolute;
    right: 16px;
    top: 80px;
    padding 10px;

    border-color: rgb(168, 144, 9)); <! Intermezzo words in gold, background in glossy navy blue>
                                        <!spice box chilli for culinary page>
}

#projects
{
    background: orange;
}

.Home
{
    background: rgb(167, 11, 107);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    color: rgb(1, 188, 221);
}

.Intermezzo
{
    background: rgb(18, 18, 143);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    color: rgb(187, 159, 0);
}

.navButtons
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    background-color: chartreuse;
    height: 8rem;
}

.Vibrance
{
    background: rgb(24, 66, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    color: rgb(7, 255, 243);
}

.aNewDawn
{
    background-image: url("media\images/KSNLogoForNewDawnBackground.JPG");
}

getting background image
{
    background-image: url ();
}

.paragraphs
{
    margin-left: 40px;
    font-size: 26;
}

.culinary
{
    background: rgb(153, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    color: rgb(138, 117, 0);
}

