#heading
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42;
}

.hobby
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;

    border-color: rgb(160, 41, 184);
    border-width: 0px;
    border-style: solid;
    
    padding: 50px;
    <!background: rgb(209, 209, 209);>
}


#projects
{
    background: orange;
}

.Home
{
    background: rgb(167, 11, 107);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    color: rgb(1, 188, 221);
}

.Intermezzo
{
    background: rgb(18, 18, 143);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    color: rgb(187, 159, 0);
}

.navButtons
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    background-color: chartreuse;
    height: 8rem;
}

.Vibrance
{
    background: rgb(24, 66, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    color: rgb(7, 255, 243);
}

.paragraphs
{
    margin-left: 40px;
    font-size: 26;
}

.culinary
{
    background: rgb(153, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    color: rgb(138, 117, 0);
}

.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(117, 0, 0);
    color: white;
    text-align: center;
  }

